.venv/
.idea/
pyvenv.cfg
**/__pycache__
**/.DS_Store
.pytest_cache

# Home Assistant configuration
.cloud
.HA_VERSION
.storage
automations.yaml
blueprints
configuration.yaml
deps
home-assistant_v2*
home-assistant.log*
tts
scenes.yaml
scripts.yaml
secrets.yaml