name: Run tests

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}-v2
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m venv .venv
          .venv/bin/pip install wheel
          .venv/bin/pip install -r requirements_test.txt
      - name: Test with pytest
        # asyncio-mode=auto fuckery: https://github.com/MatthewFlamm/pytest-homeassistant-custom-component/issues/161
        run: |
          .venv/bin/python -m pytest \
            --asyncio-mode=auto \
            --cov-report term-missing \
            --cov-report xml \
            --cov=custom_components.candy
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: home-assistant/actions/hassfest@master
